<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Proficiência - {{ nome_aluno }}</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="certificate-container">
        <header class="header">
            <div class="logo-container">
                <img src="logo.jpg">
            </div>
        </header>

        <main>
            <section class="student-info">
                <h1>{{ nome_aluno }}</h1>
                <p>Concluiu com sucesso a avaliação de proficiência em português e alcançou o nível geral:</p>
            </section>

            <section class="scores-section">
                <div class="main-score">
                    <div class="score-value">{{ acertos }} <span>/ {{ total_questoes }}</span></div>
                    <div class="score-level">{{nivel}}</div>
                </div>
                
            </section>

            <section class="analysis-section">
                <div class="analysis-box strength-box">
                    <h3>Pontos Fortes</h3>
                    <ul>
                        {% for ponto in pontos_fortes %}
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            <span>{{ ponto }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="analysis-box development-box">
                    <h3>Pontos a Desenvolver</h3>
                    <ul>
                        {% for ponto in pontos_a_desenvolver %}
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12.22 2h-4.44a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8.38M18 14v-4h-4M18 10l-7.5 7.5"></path></svg>
                            <span>{{ ponto }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p>Issued on: {{ data_emissao }}</p>
            <p>Keep evolving, schedule your class at:</p>
            <p>https://www.bestwayportuguese.com</p>
        </footer>
    </div>
</body>
</html>