{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proficiency Test</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo-2.svg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v1.2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="module" src="{% static 'js/main.js' %}?v1.2"></script>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="{% static 'img/logo.svg' %}" alt="Portuguese Best Way Logo">
            </a>
        </div>
        <div class="navbar-title">
            Proficiency Test
        </div>
        <a href="/admin">
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        </a>
    </nav>

<main class="main-content">
    <div id="presentation-container" style="display: none; transition: opacity 0.5s ease-in-out;">
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="Portuguese Best Way Logo">
        </div>
        <div class="info-box">
            <h2>At BestWayPortuguese, we offer one-on-one classes that are 100% focused on you:</h2>
            <p>
                We'll work together on your specific goals, whether you want to master a new subject, improve your conversation, or overcome your biggest language challenges. Here, the pace and content are entirely up to you.
            </p>
        </div>
        <p class="call-to-action">
            Take the first step towards fluency! Take our free quiz to discover your strengths and the areas we can improve together. This way, we ensure your learning journey begins focused exactly on what you need.
        </p>
        <button id="start-quiz-button" class="start-quiz-button">Start Quiz</button>
    </div>

    <div id="user-data-container">
        {% csrf_token %}
        <h2>We want to know you...</h2>
        <form id="user-data-form">
            <div class="form-row">
                <label for="user-email">E-mail:</label>
                <input type="email" id="user-email" name="email" placeholder="email@exemple.com">
            </div>
            <div class="form-row">
                <label for="user-name">Name:</label>
                <input type="text" id="user-name" name="nome" placeholder="Your name">
            </div>
            <div class="form-row-contato">
                <label>Do you accept institutional contact from BestWay Portuguese?</label>
                <div class="radio-group">
                    <input type="radio" id="contato-sim" name="aceita_contato" value="true">
                    <label for="contato-sim">Yes</label>

                    <input type="radio" id="contato-nao" name="aceita_contato" value="false" checked>
                    <label for="contato-nao">No</label>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="quiz-container" style="display: none;">
        <h2 id="question-title" class="question-title">Loading...</h2>
        <div class="cards-container" id="cards-container">
        </div>
        <div class="buttons-container">
            <button class="next-button" id="next-button">Next</button>
        </div>
    </div>

    <div id="feedback-container" style="display: none;">
    </div>
</main>
</body>
</html>